<h1 class = "text-center">Latest Updates</h1>
<hr/>
<div class = "table container-fluid">
  <div class="list-group">
  
  <% @updates.each do |update| %>  
  <%= link_to update_path(update), class: "list-group-item" do %>
  <div>
    <h3 class="list-group-item-heading"><%= update.title %></h3>
    <p class="list-group-item-text subtext lead"><%= truncate(update.details, length: 70, separator: ' ') %></p>
  </div>
  <% end %>
  <% end %>
  
  </div>
</div>

  <!--Make the link below switch between login or logout based on session id-->
<p class="lead text-center"><%= link_to "Logout", '', class: "customLink" %></p>