// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.page.container-fluid {
  max-width: 850px;
}

.table.container-fluid {
  width: 80%;
}

a.customLink, a.customLink:link, a.customLink:hover, a.customLink:visited, a.customLink:active {
  text-decoration: none;
}