<!DOCTYPE html>
<html>
<head>
  <title>News Updates - Android/Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "container-fluid">
    <div class = "well">
      <h2>Enter the header here: nav bar</h2>
    </div>
  
    <!--put the defined views and their pages below-->
    <%= yield %>
  </div>

</body>
</html>
